
Segmentor/.gitignore
Segmentor/LICENSE
Segmentor/README.md
Segmentor/Segmentor/DocSegmentor.py
Segmentor/Segmentor/FileSegmentor.py
Segmentor/Segmentor/JsonSegmentor.py
Segmentor/Segmentor/POSTagger.py
Segmentor/Segmentor/Segmentor.py
Segmentor/Segmentor/Struct.py
Segmentor/Segmentor/Tokenizer.py
Segmentor/Segmentor/__init__.py
Segmentor/scripts/naer_seg
Segmentor/server/SegmentorFunctions.py
Segmentor/setup.py
ckip/data/LICENSE
ckip/data/embedding_character/token_list.npy
ckip/data/embedding_character/vector_list.npy
ckip/data/embedding_word/token_list.npy
ckip/data/embedding_word/vector_list.npy
ckip/data/model_ner/label_list.txt
ckip/data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.data-00000-of-00001
ckip/data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.index
ckip/data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.meta
ckip/data/model_ner/pos_list.txt
ckip/data/model_pos/label_list.txt
ckip/data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.data-00000-of-00001
ckip/data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.index
ckip/data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.meta
ckip/data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.data-00000-of-00001
ckip/data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.index
ckip/data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.meta

dict.txt